.header,
.header li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  list-style: none;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 10px;
}
.header li {
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}
.header li:hover,
.header-wallet:hover {
  color: #adfc00 !important;
}
.header-wallet {
  margin-left: 30px !important;
}
.active {
  color: #adfc00 !important;
}
